.project__bg {
    background-color: var(--first-color-second);
    padding-top: 3rem;
}

.project__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project__description {
    margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description {
    color: #fff;
}

.project__img {
    width: 232px;
    justify-self: center;
}

.project__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .project__container {
        gap: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .project__img {
        width: 200px;
    }
}