.portfolio__container {
    width: 750px;
}

.portfolio__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.portfolio__img {
    width: 265px;
    border-radius: 1.5rem;
    justify-self: center;
}

.portfolio__data {
    text-align: initial;
}

.portfolio__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description {
    margin-bottom: var(--mb-2);
}

.portfolio__button {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
}

.portfolio__button:hover .button__icon {
    transform: translateX(0.25rem);
}

/* Responsive */
@media screen and (max-width: 992px) {
    .portfolio__container {
        width: initial;
    }

    .portfolio__content {
        grid-template-columns: 1fr;
        padding: 0 1.5rem;
    }

    .portfolio__img {
        width: 100%;
    }

    .portfolio__data {
        text-align: center;
        padding: 0 1rem;
    }

    .portfolio__description {
        margin-bottom: var(--mb-1-5);
    }
}